
.main-div{
	width: 25%;
	margin: 0px auto;
	margin-top: 150px;
	padding: 20px;
}

.main-div input{
	margin-bottom: 20px;
	display: block;
	border: 1px solid #CCC;
	border-radius: 10px;
	background: #FFF;
	padding: 15px;
	outline: none;
	width: 100%;
}
.main-div button{
	background-color: #E01C5C;
	color: #fff;
	display: block;
	border: 0px;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 100%;
	transition: 1.0s;
	-webkit-transition: 1.0s;
	-moz-transition:1.0s;
}
.main-div button:hover{
	background-color: #FFF;
	color: #E01C5C;
	border: 1px solid#E01C5C;;
}
@media screen and (min-width: 0px) {
	.main-div{
		width: 75%;
		margin: 0px auto;
		margin-top: 150px;
		padding: 20px;
	}
}
@media screen and (min-width: 600px) {
	.main-div{
		width: 50%;
		margin: 0px auto;
		margin-top: 150px;
		padding: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.main-div{
		width: 25%;
		margin: 0px auto;
		margin-top: 150px;
		padding: 20px;
	}
}


